@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}
body,
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

.home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #d73939 60%,
    rgba(248, 6, 6, 0.5) 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  
}


.home h2 {
  display: flex;
  justify-content: center;
  color: #000000;
}

.Home__Conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}
.xisLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
  
}
@media (max-width: 1220px) {
  .xisLista {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 840px) {
  .xisLista {
    grid-template-columns: 1fr;
  }
}

.XisCardItem,
.XisListaItem {
  background: #ffffff4d;
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
  
}

.XisCardItem {
  
  height: 150px;
  width: 315px;
}

.XisCardItem__foto{
  margin-right: -60px;
  height: 150px;
}

@media (max-width: 400px) {
  .XisCardItem,
  .XisListaItem {
    width: 210px;
    height: 180px;
  }
}
.XisCardItem > div,
.XisListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.XisCardItem__sabor,
.XisListaItem__sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.XisCardItem__descricao,
.XisListaItem__descricao {
  font-size: 0.85em;
}

.XisCardItem__preco,
.XisListaItem__preco {
  color: darkviolet;
}

.XisListaItem__foto {
  height: 100px;
  margin-right: -60px;
}

.xis-escolhido-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
#search-input-xis {
  padding: 0.5rem;
 
  border: none;
  border-radius: 0.2rem;
  border: 2px solid #ffffff;
  margin-right: .5rem;
  outline: none;
  font-size: 1rem;
}
.search-button{
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0.4rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 1rem;
  text-align: center;
}
.search-button:hover{
  background-color: #d73939;
  color: #000000;
  border: 2px solid #000000;
}
.botao-padrao {
  background-color: transparent;
  border: 2px solid #000000;
  padding: 0.4rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.2rem;
  width: 210px;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 1rem;
}
.botao-padrao:hover{
  background-color: #d73939;
  color: #000000;
  border: 2px solid #ffffff;

}
#xis-escolhido-input-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}
.buttonDisable{
  border: 2px solid gray !important;
  background-color: white !important;
  color: gray !important;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 340px;
  height: 45px;
}
a{
  text-decoration: none;
  color: black;
}
.logo-tittle {
  position: absolute;
  left: 110px;
  font-family: "Exo";
  font-weight: 700;
  font-size: 1.5em;
}

.logo-icon {
  position: absolute;
  left: -20px;
  top: -5px;
  border-radius: 10px;
}

.sacola {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  
}



@media (max-width: 1220px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .logo-tittle {
    font-size: .5em;
  }
}

.modal-overlay{
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal{
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #d73939 60%,
    rgba(248, 6, 6, 0.5) 100%);
    padding: 1rem;
}

.close-modal{
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all .3s ease-in-out;

}
.close-modal:hover{
  transform: scale(1);
  color: whitesmoke;
}
.modal-body{
  padding: .5rem 1rem;

}
.modal-body div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.modal-body div input, textarea{
  width: 100%;
  padding: .5rem;
  font-size: .8rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: .4rem;
  border-radius: .3rem;
}
.modal-body div button{
  padding: .5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: #d73939;
  border: solid 1px #d73939;
  border-radius: .3rem;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease-in-out;
}
.modal-body div button:hover{
  background-color: #d73939;
  color: whitesmoke;
}


.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 25px auto;
  max-width: 1110px;
}

.msg-alert{
  
  text-align: center;
  z-index: 999999;
  font-weight: 600;
}

.success{
  background-color: green;
  color: white;
  border: 2px solid black;
  padding: .5rem;
  border-radius: 0.3rem;
}

.danger{
  background-color: red;
  color: white;
  border: 2px solid black;
  padding: .5rem;
  border-radius: 0.3rem;
}

.Acoes{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.btn{
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
  font-weight: 600;
}

.acoes__editar{
  color: #00000090;
  border: solid 1.3px gray;
  background-color: transparent;
}
.acoes__editar:hover{
  color: whitesmoke;
  background-color: #00000090;
}
.acoes__apagar{
  color: #d73939;
  border: solid 1.3px #d73939;
  background-color: transparent;
}
.acoes__apagar:hover{
  color: whitesmoke;
  background-color: #d73939;
  border: solid 1.3px gray;
}
.modal-body-delete{
  display: flex;
  flex-wrap: wrap;

}
.modal-body-delete p{
width: 100%;
padding: 2rem;
text-align: center;
font-size: 1.5rem;
}
.btns_delete{
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}
.btn-delete{
  width: 30%;
  background-color: transparent;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  
}

.btn_delete_no{
  color: red;
  border: solid 1px red;
  width: 30%;
  transition: .3s ease-in-out;
  
}
.btn_delete_yes{
  color: green;
  border: solid 1px green;
  padding: .5rem;
  width: 30%;
  transition: .3s ease-in-out;
}
.btn_delete_no:hover{
  background-color: red;
  color: white;
}

.btn_delete_yes:hover{
  background-color: green;
  color: white;
}

.list-all{
  text-decoration: none;
  text-align: center;
  display: none;
  margin-right: 1rem;
}

.btn-list-cad{
  display: flex;

}
